body, html {
  height: 100%;
  width: 100%;
}

#root, .App {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

#filters-container {
    width: 60%;
    margin: 0;
    padding: 0;
}

#search-results {
    height: 85%;
    overflow-y: scroll;
    padding: 20px;
    margin-top: 100px;
}

.query-container label {
    font-size: 15px;
}

ul.ranges li {
    list-style: none;
    padding: 0 10px;
}

ul.ranges {
    padding: 0;
    margin: 0;
}

.search-filters {
    position: absolute;
    z-index: 10;
    background-color: #f5f4f4;
    width: 60%;
    padding-top: 20px;
    border: 1px solid #dadada;
    margin: 0 2px;
}

.search-filters > div {
    padding: 0 20px;
}

.InputRange {
    margin-bottom: 50px;
}

.InputRange-labelContainer {
    font-size: 15px;
    color: #6b6b6b;
}

.label-text {
    font-size: 15px;
    margin-bottom: 12px;
    font-weight: bold;
}

.card-container {
    padding: 10px;
}

.photo {
    width: 100%;
    height: 150px;
}

.photo-container {
    text-align: center;
}

.name {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

.range {
    font-size: 15px;
    color: #2d2d2d;
}

.details {
    font-size: 13px;
    color: #656262;
}

.details ul li {
    margin: 0;
    padding: 0;
}

.details-container {
    padding: 10px;
}

.details ul {
    padding-left: 20px;
}


.range-container {
    padding: 0 50px;
}

.is_hidden {
    display: none;
}

.card:hover {
    border: 2px solid orange;
}